{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block head %}
    {{ parent() }}

    <script>
        function resizeImage(img, maxWidth, maxHeight) {
            const canvas = document.createElement('canvas');
            let width = img.width;
            let height = img.height;

            if (width > height) {
                if (width > maxWidth) {
                    height *= maxWidth / width;
                    width = maxWidth;
                }
            } else {
                if (height > maxHeight) {
                    width *= maxHeight / height;
                    height = maxHeight;
                }
            }

            canvas.width = width;
            canvas.height = height;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, width, height);

            return canvas.toDataURL();
        }

        function previewImage(event) {
            const fileInput = event.target;
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function () {
                    const imagePreview = document.getElementById('imagePreview');
                    const img = document.createElement('img');
                    img.onload = function () {
                        const resizedDataUrl = resizeImage(img, 400, 400);
                        img.src = resizedDataUrl;
                    };
                    img.src = reader.result;
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);
                };

                reader.readAsDataURL(file);
            }
        }
    </script>
{% endblock %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard',
            'dashboard:profile': 'Edit My Profile'
        },
        (type == 'dj') ? 'Upload DJ Avatar' : 'Upload Avatar'
    ) }}

    <h1>Upload {% if type == 'dj' %}DJ Avatar{% else %}Avatar{% endif %}</h1>

    <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label" for="fileInput">Select New Avatar:</label>
                    <input type="file" name="file" id="fileInput" class="form-control" accept="image/*"
                           onchange="previewImage(event)">
                </div>
                <div id="imagePreview" style="max-width: 400px; max-height: 400px; margin-top: 10px;"></div>

                <div class="buttons mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
