<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {{ include("layouts/sections/header.twig") }}

    {% block head %}
        {{ renderAssets('frontend/wwradio.js') }}
    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
