{% extends "layouts/dashboard.twig" %}

{% import "macros/breadcrumbs.twig" as breadcrumbs %}

{% block content %}
    {{ breadcrumbs.body(
        {
            'dashboard': 'My Dashboard'
        },
        'Add VRChat World'
    ) }}

    <h1>Add VRChat World</h1>

    {% if error %}
    <div class="alert alert-danger">
        <b>Error:</b> {{ error }}
    </div>
    {% endif %}

    <form action="" method="post">
        <div class="form-label-group mb-2">
            <label for="id">VRChat World ID:</label>
            <input class="form-control form-control-secondary" type="text" id="id" name="id" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit to Database</button>
    </form>
{% endblock %}
