// Bootstrap customization variables

$body-color-dark: #ECECEC;

$card-bg: #222;

$headings-font-family: "Boogaloo", cursive;
$font-family-base: "Noto Sans", sans-serif;

$header-nav-height: 5rem;
$navbar-dark-color: #DDD;
$navbar-dark-active-color: #FFF;
$navbar-dark-hover-color: #FFF;
$navbar-nav-link-padding-x: .5rem;

$offcanvas-border-width: 0;
$offcanvas-bg-color: var(--bs-tertiary-bg);
$offcanvas-padding-x: 0;
$offcanvas-padding-y: 0;

$navdrawer-width: 17.5rem;
$navdrawer-gutter-width: 3.5rem;
$navdrawer-inner-spacer-x: 1rem;
$navdrawer-inner-spacer-y: 0.5rem;
$navdrawer-icon-width: 2rem;
$navdrawer-link-height: 3rem;
$navdrawer-subheader-height: 3rem;
