@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

//----------------------------------
$theme-a: rgb(131, 131, 131);
$theme-b: rgb(68, 68, 68);
$theme-c: #fff;

$black: #000000;
$text-grey: #888;
$white: #ffffff;
$becki: rgba(93, 0, 180, 1);
//----------------------------------

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
  overflow: auto;
  font-family: 'Rajdhani', sans-serif !important;
  font-size: 1.4em;
}

a {
  color: $white;
}

//scrollbar gen'd bc im lazy...
body {
  --sb-track-color: #000000;
  --sb-thumb-color: #ffffff;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

//end of scrollbar

#player-itself {
  width: 100%;
  text-align: center;
  height: 100px;
  margin-bottom: 100px;
}

.dr-normal {
  background-color: $black;
  max-width: 500px;
  width: 500px;
  margin: 0 auto;

  .logo {
    img {
      width: 400px;
    }

    width: 500px;
    margin-left: 50px;
    padding-top: 10px;
  }

  .now-playing-box {
    width: 100%;
    color: $text-grey;
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: $black;
    z-index: 100;
    position: relative;

    border-bottom: solid 1px rgb(40, 40, 40);

    background-image: url("/static/wwradio/player-track-bg.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center bottom;

    #np-artist {
      color: $white;
      font-weight: 700;
    }

    #np-title {
      color: $white;
      font-weight: 400;
    }

    p {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .background-box {
    background-image: url('/static/wwradio/no-art.jpg');
    position: absolute;
    width: 550px;
    height: 450px;
    margin-top: -75px;
    margin-left: -25px;
    z-index: 99;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    filter: blur(10px) saturate(2);
    transition: all 5s;
  }

  .art-shadow {
    width: 300px;
    height: 0;
    margin-left: 100px;
    margin-top: -50px;
    opacity: 1;
    box-shadow: 0 0 12px 2px rgba(180, 180, 180, 0.4);

    z-index: 98;
    background-color: rgba(0, 0, 0, 0);
  }

  .album-art {
    margin-left: 100px;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    background-position: center center;
    background-size: cover;
    background-color: $theme-c;
    background-image: url('/static/wwradio/no-art.jpg');
    transition: all 3s;
    z-index: 100;
    position: relative;
  }

  .cc_recenttracks_list {
    position: relative;
    margin-top: 115px;
    z-index: 100;
    width: 500px;

    .cctrack {
      width: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $theme-c;
      background-image: url("/static/wwradio/player-track-bg.png");
      background-size: 100%, 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .cctitle {
    color: $theme-c !important;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }

  .cccover {
    padding: 0 !important;
    background-color: #000 !important;
    border: none !important;
    float: left;
    margin-right: 15px !important;
    clear: left;
  }

  .ccbuy, .ccalbum {
    display: none;

  }

  .ccartist {
    color: $text-grey !important;
  }

  .sent {
    height: 50px !important;
  }

  .trb-button {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: block;
    top: 40px;
    left: 5px;
    z-index: 105;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.2);
    font-size: 2em;
    transform: rotate(-90deg);
    text-align: center;
    float: left;
    text-decoration: none;
    transition: all 1s;
  }

  .trb-hidden {
    transform: rotate(90deg);
    transition: all 1s;
  }

  .hidden {
    height: 0 !important;
    transition: all 1s;
    margin-bottom: -1px !important;
  }

  .request-box {
    background-color: $black;
    border-top: solid 1px rgb(40, 40, 40);
    margin-top: 110px;
    margin-bottom: 10px;
    position: relative;
    height: 240px;
    z-index: 100;
    width: 500px;
    transition: all 1s;

    .cc_req_result_mvinaround {
      display: none !important;
    }

    #song-sent-text {
      height: 0;
      border-bottom: solid 0 rgb(0, 70, 0);
      color: rgb(80, 200, 80);
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      overflow: hidden;
      transition: all 1s;
    }

    .show-text {
      height: 40px !important;
      border-bottom: solid 1px rgb(0, 70, 0) !important;
      transition: all 1s;
    }

    form {
      font-family: 'Rajdhani', sans-serif !important;

      label {
        color: $theme-c;
        display: inline-block;
        width: 30%;
      }

      input[type="text"], input[type="email"] {
        border: none;
        border-bottom: solid 1px $text-grey;
        background-color: $black;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 18px;
        width: 60%;
        color: $theme-c;
        transition: all 0.5s;

        &:hover, &:focus {
          background-color: rgb(40, 40, 40);
          outline: none;
          box-shadow: 0px -4px 10px 5px rgb(40, 40, 40);
          transition: all 0.5s;
        }
      }

      .req-button {
        text-align: right;
      }

      input[type="button"] {
        margin-top: 18px;
        height: 40px;
        width: 50%;
        margin-left: 50%;
        text-align: center;
        position: relative;
        display: block;
        font-size: 20px;
        font-family: 'Rajdhani', sans-serif !important;
        border: none;
        border-bottom: solid 4px rgb(80, 80, 80);
        background-color: $text-grey;
        color: $theme-c;

        &:active {
          margin-top: 23px;
          border-bottom: 0;
          margin-bottom: -5px;
          outline: none;
        }

      }
    }
  }
}

.server-details {
  width: 60%;
  margin: 20%;
  border: solid 3px $theme-a;
  background-color: $becki;
  color: $white;
  border-radius: 5px;
  font-size: 1sem;

  h2 {
    width: 100%;
    background-color: $theme-a;
    color: $theme-c;

  }

  #logo {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
  }

  p {
    font-weight: 700;
    font-style: italic;
    padding-top: 20px;
  }

  section {
    padding: 5%;

    input[type="password"] {
      font-size: 20px;
      padding: 20px;
      border: solid 2px $theme-a;
    }

    input[type="submit"] {
      font-size: 20px;
      background-color: rgb(100, 255, 100);
      color: rgb(0, 130, 0);
      border: none;
      border-bottom: solid 5px rgb(0, 200, 0);
      padding: 20px;

      transition: all 0.3s;
    }

    table {
      width: 100%;
      border: none;
      border-radius: 3px;
      font-size: 1em;

      th {
        background-color: $theme-b;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        text-align: left;
        color: $white;
      }

      td {
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        border: none;
        margin: 0;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        color: $white;
      }
    }
  }
}
