{% extends "layouts/wwradio.twig" %}

{% block head %}
    {{ parent() }}

    <script>
        ready(function () {
            startInfoLoop();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="server-details">
        <h2>Server Details - WaterWolf Radio</h2>
        <section>
            <img src="/static/wwradio/ww-radio.png" id="logo"/>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>Details</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Online:</td>
                    <td><a id="d_listenurl" href=""></a></td>
                </tr>
                <tr>
                    <td>Online:</td>
                    <td id="d_online"></td>
                </tr>
                <tr>
                    <td>AutoDJ Online:</td>
                    <td id="d_adjonline"></td>
                </tr>
                <tr>
                    <td>Source:</td>
                    <td id="d_source"></td>
                </tr>
                <tr>
                    <td>Current Listeners:</td>
                    <td id="d_listeners"></td>
                <tr>
                <tr>
                    <td>Song:</td>
                    <td id="d_song"></td>
                <tr>
                <tr>
                    <td>Song Raw Meta:</td>
                    <td id="d_song_raw"></td>
                <tr>
                <tr>
                    <td>Time:</td>
                    <td id="d_time"></td>
                <tr>
                <tr>
                    <td>Server Type:</td>
                    <td id="d_stype"></td>
                <tr>
            </table>
            <p>Refreshing in: <span id="rf-countdown"></span></p>
        </section>
    </div>
{% endblock %}
