<div class="container-fluid pt-4 pb-4">
    <div class="d-lg-flex align-items-center">
        <div class="flex-shrink-0 pe-3">
            <img src="/static/img/logo-with-logotype.svg" style="width: 211px; height: 45px;"
                 alt="WaterWolf Family: We Build Adventure and Friendship">
        </div>
        <div class="flex-fill mt-lg-0 mt-2">
            <p class="m-0">WaterWolf is a community in VRChat that focuses on creating adventures for players
                to experience.</p>
            <p class="m-0">The community is made up of many creators, each with their own unique style and
                specialties.</p>
        </div>
        <div class="flex-shrink-1 mt-lg-0 mt-2">
            <div class="d-inline-flex footer-icons">
                <a href="/github" target="_blank">
                    <i class="bi-github"></i>
                    <span class="visually-hidden">GitHub</span>
                </a>
                <a href="mailto:Isaac@waterwolf.club">
                    <i class="bi-envelope"></i>
                    <span class="visually-hidden">E-mail</span>
                </a>
                <a href="/twitter" target="_blank">
                    <i class="bi-twitter-x"></i>
                    <span class="visually-hidden">Twitter/X</span>
                </a>
                <a href="/twitch" target="_blank">
                    <i class="bi-twitch"></i>
                    <span class="visually-hidden">Twitch</span>
                </a>
                <a href="/discord" target="_blank">
                    <i class="bi-discord"></i>
                    <span class="visually-hidden">Discord</span>
                </a>
            </div>
        </div>
    </div>
</div>
