{% extends "layouts/site.twig" %}

{% block head %}
    {{ parent() }}

    <script>
        ready(() => {
            passwordStrength();
        });
    </script>
{% endblock %}

{% block content %}
<div class="container page">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <form class="form-recover" action="" method="POST" id="forgot-recover">
                <h2 class="text-center">
                    Reset Account Password
                </h2>
                <p class="card-text">
                    Enter a new password below to reset your account password and log in.
                </p>

                {% if error %}
                    <div class="alert alert-danger">
                        <b>Error:</b> {{ error }}
                    </div>
                {% endif %}

                <div class="form-label-group mb-2">
                    <label>
                        Create New Password:
                        <input type="password" class="form-control form-control-secondary" id="passwordField"
                               name="new_password" autocomplete="new-password" required>
                    </label>
                    <div class="progress mt-2">
                        <div class="progress-bar" id="passwordStrengthBar" role="progressbar"
                             style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                    <small id="passwordStrengthText" class="form-text text-muted"></small>
                </div>

                <div class="form-label-group">
                    <label>
                        Verify New Password:
                        <input type="password" class="form-control form-control-secondary"
                               name="new_password_confirm" autocomplete="new-password" required>
                    </label>
                </div>

                <input type="hidden" name="token" value="{{ token|e('html_attr') }}">

                <div class="mt-3 d-grid gap-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
