<option value="Pop">Pop</option>
<option value="Rock">Rock</option>
<option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
<option value="Jazz">Jazz</option>
<option value="Blues">Blues</option>
<option value="R&B/Soul">R&B/Soul</option>
<option value="Classical">Classical</option>
<option value="Country">Country</option>
<option value="Electronic/Dance">Electronic/Dance</option>
<option value="Folk">Folk</option>
<option value="Reggae">Reggae</option>
<option value="Latin">Latin</option>
<option value="Metal">Metal</option>
<option value="Punk">Punk</option>
<option value="Grunge">Grunge</option>
<option value="New Wave">New Wave</option>
<option value="Ambient">Ambient</option>
<option value="Experimental">Experimental</option>
<option value="World Music">World Music</option>
<option value="Gospel">Gospel</option>
<option value="Ska">Ska</option>
<option value="Indie">Indie</option>
<option value="Hardcore">Hardcore</option>
<option value="Lo-fi">Lo-fi</option>
<option value="K-pop">K-pop</option>
<option value="J-pop">J-pop</option>
<option value="C-pop">C-pop</option>
