{% extends "layouts/site.twig" %}

{% block content %}
<div class="container page">
    <h1 class="section-title">About WaterWolf</h1>
    <div class="card">
        <div class="card-body">
            <h2>Organization Structure</h2>
            <img src="/static/img/workflow.png" class="img-fluid" alt="Organizational chart."/>

            <h2>WaterWolf Mission Statement</h2>
            <p class="card-text"><span class="emphasis">WaterWolf</span> exists at the forefront of VRChat adventures,
                pioneering a realm where the possibilities of virtual reality are not just explored but
                reimagined. Founded by the dynamic duo, Isaac and Cat, our mission is to revolutionize the
                VRChat experience, creating a world that is both enchanting and welcoming to all.</p>
            <p>At the heart of WaterWolf lies a community-driven ethos. We believe in the power of
                collaboration and creativity, where every player's feedback becomes a cornerstone in our
                journey of innovation. Our adventures are more than just virtual experiences; they are
                meticulously crafted journeys, rich in detail and imagination, designed to captivate,
                engage, and inspire.</p>
            <p class="card-text">Our founders, Isaac and Cat, embody the spirit of partnership and unity. Their unique
                talents
                and perspectives blend seamlessly to offer unparalleled VRChat adventures. This synergy is
                not just within our leadership but extends to every member of our community. We are a
                tapestry of diverse voices, each adding depth and color to the WaterWolf experience.</p>
            <p class="card-text">In the world of WaterWolf, innovation is continuous. We are committed to pushing the
                boundaries of what is possible in virtual reality, ensuring that each adventure is fresh,
                unique, and tailored to the evolving desires of our players. Our vision is to make the VR
                landscape not only more engaging but also a haven for friendship, discovery, and shared
                experiences.</p>
            <p class="card-text">Led by Isaac and Cat, our community is the driving force behind an ever-expanding
                empire of
                kindness and connection. At WaterWolf, we don't just create virtual worlds; we foster an
                environment where every individual feels valued, heard, and excited to be a part of
                something groundbreaking.</p>
            <p class="card-text">Join us in this extraordinary journey. With WaterWolf, every step into VRChat becomes a
                step
                into a world of endless possibilities, a world where imagination knows no bounds, and where
                every adventure is a gateway to new horizons.</p>

            <h2>WaterWolf: Embracing a New Horizon as a TV Network</h2>
            <p class="card-text">WaterWolf, known for pioneering the realm of VRChat adventures, is excited to announce
                our latest
                venture as a TV network, dedicated to broadcasting our unique media content on the internet.
                This expansion aligns with our mission to revolutionize the VRChat experience and to share our
                enchanting and welcoming world with a broader audience.</p>

            <h3>Community-Driven Ethos</h3>
            <p class="card-text">At the core of WaterWolf is our belief in collaboration and creativity. As a TV
                network, we aim
                to bring this community spirit to a wider audience, showcasing the rich, player-influenced
                journeys that have defined us.</p>

            <h3>Creative Leadership</h3>
            <p class="card-text">Our founders, Isaac and Cat, have always been the driving force behind our innovative
                adventures.
                Their vision will now extend to our TV network, promising broadcasts that are as captivating and
                imaginative as our VRChat experiences.</p>

            <h3>Continuous Innovation</h3>
            <p class="card-text">Just as we've continuously pushed the boundaries in virtual reality, our TV network
                will strive
                for groundbreaking content, offering fresh and unique perspectives to the world of online
                media.</p>

            <h3>Expanding Our Community</h3>
            <p class="card-text">This new venture into broadcasting is more than a platform expansion; it's an
                invitation for more
                individuals to experience the WaterWolf world. We aim to foster an environment where everyone
                feels valued and part of something transformative, whether they join us in VRChat or through our
                broadcasts.</p>

            <p class="card-text">Join us in this extraordinary new chapter. With WaterWolf, every adventure, whether in
                VRChat or
                through our TV network, is a gateway to new horizons and limitless possibilities.</p>

            <div class="d-grid gap-2 mt-3">
                <a href="/discord" class="btn btn-primary btn-lg">Join WaterWolf</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
