{% extends "layouts/site.twig" %}

{% block content %}
<div class="content page">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <iframe
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&title=WaterWolf%20Calendar&showTitle=0&showNav=1&showCalendars=1&showTabs=0&showPrint=0&showDate=1&src=N2NlOTk2YzFlZmQzYjIzMGQxNzVkMTBmZDAwNDU5ZmVlYTA1YzhjNGQ3MDFiYzhlN2Y1ODM2NGM0NjI5YmZkZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342"
                    style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
