{% extends "layouts/site.twig" %}

{% block head %}
    {{ parent() }}

    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <script>
        ready(() => {
            let twitchEmbed;
            let moistEmbed;

            $('[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var currentTab = $(e.target).data('bs-target'); // Get the current tab

                if (currentTab === '#html5') {
                    if (twitchEmbed) {
                        twitchEmbed.pause();
                    }
                    if (moistEmbed) {
                        moistEmbed.pause();
                    }

                    
                    $('#html5video')[0].play();
                } else if (currentTab === '#twitch') {
                    $('#html5video')[0].pause();
                    if (moistEmbed) {
                        moistEmbed.pause();
                    }


                    if (twitchEmbed) {
                        twitchEmbed.play();
                    } else {
                        twitchEmbed = new Twitch.Embed("twitch-embed", {
                            width: "100%",
                            height: 480,
                            channel: "waterwolfvr",
                            autoplay: true
                        });
                    }
                } else if (currentTab === '#moist-dog') {
                    $('#html5video')[0].pause();

                    if (twitchEmbed) {
                        twitchEmbed.pause();
                    }

                    if (moistEmbed) {
                        moistEmbed.play();
                    } else {
                        moistEmbed = new Twitch.Embed("moist-dog-embed", {
                            width: "100%",
                            height: 480,
                            channel: "moistdogtv",
                            autoplay: true
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container page">
    <h1 class="section-title">WaterWolf Live</h1>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#html5" type="button"
                            role="tab" aria-controls="html5"
                            aria-selected="true">Video Player
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#twitch" type="button"
                            role="tab" aria-controls="twitch">WaterWolf Live
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#moist-dog" type="button"
                            role="tab" aria-controls="moist-dog">MoistDogTV
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content card-body">
            <div id="html5" class="container tab-pane active">
                <div class="ratio ratio-16x9">
                    <video id="html5video" controls autoplay>
                        <source src="//stream.vrcdn.live/live/waterwolf.live.mp4?t={{ date().getTimestamp() }}"
                                type="video/mp4">
                    </video>
                </div>
            </div>
            <div id="twitch" class="container tab-pane fade">
                <div id="twitch-embed"></div>
            </div>
            <div id="moist-dog" class="container tab-pane fade">
                <div id="moist-dog-embed"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
