{% extends "layouts/site.twig" %}

{% block content %}
<div class="content page">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <iframe
                        src="https://calendar.google.com/calendar/embed?src=c_cf3a9e29de0bc03bf4565f050f68ef0e1bf12a3d8ae2484187a901af6729d4c9%40group.calendar.google.com&ctz=America%2FNew_York"
                        style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
